body {
    font-family: 'Abel', sans-serif;
    background-color: #1d3557; 
    color: #ffffff;
}

html {
    scroll-behavior: smooth; 
}

/*h1 section*/
.typing-effect{
    text-align: center;
    justify-content: center;
    margin: 2% 1% 2% 1%;
}

#typing-text {
    font-size: 45px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;
    text-shadow: 0px 3px 7px #af93cf;
}

.cursor {
    display: inline;
    color: #af93cf;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* About Me Container Section */
#aboutMe-container {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 4px 10px #0d1f3d;
    background-color: #0d1f3d;
    border-radius: 10px; 
}

.image-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-section img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 48%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding: 40px;
}

/* Button */
.button-container button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #af68b0;
    width: 32%;
    padding: 2%;
    display: inline-block;
    margin: 0 4% 4% 4%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.button-container a{
    text-decoration: none;
}

  button:hover {
    background: #af68b0;
    box-shadow: 0 0 30px 5px #af93cf;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #40c9ff;
    box-shadow: 0 0 50px 30px #af93cf;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  .project-button.active-filter {
    background-color: #0d1f3d;
    box-shadow: 0 0 30px 5px #af93cf;
    color: white;
    transform: scale(1.1);
}

/* Card */
.form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0%;
    width: 50%;
    padding: 8% 4%;
}

.info-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
}

p{
    font-size: 20px;
}

h2{
    margin: 5%;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    text-shadow: 0px 3px 7px #af93cf;

}

.logo img{
    width: 10%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
    box-shadow: 2px 4px 10px #0f1316;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

#github, #email, #linkedIn, #phone{
    box-shadow: 0 0 5px #40c9ff, 0 0 20px #e81cff; 
}

#github:hover{
    transform: scale(1.2);
}

#email:hover{
    transform: scale(1.2);
}

#linkedIn:hover{
    transform: scale(1.2);
}

#phone:hover{
    transform: scale(1.2);
}


/*Experience section*/
#experience-container{
    margin-top: 35%;
    text-align: center;
    padding: 50px 20px;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background:linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-container::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #0d1f3d;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-container {
    position: relative;
    width: 50%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;    
    z-index: 2;
}


.timeline-container::before{
    background: #0d1f3d; 
    box-shadow: 0 0 10px #40c9ff, 0 0 20px #e81cff; 
}
.timeline-container.right::before {
    left: 0%;  
    transform: translateX(-50%);
}

.left {
    left: 0;
    text-align: right;
    padding-right: 40px;
}

.right {
    left: 50%;
    text-align: left;
    padding-left: 40px;
}

.timeline-container{
    opacity: 0;
    transform: translateY(50px);
    transition:all 0.6s ease-in-out;
}

.timeline-container.left{
    transform: translateX(-100px);
}

.timeline-container.right{
    transform: translateX(100px);
}
.timeline-container.show{
    opacity: 1;
    transform: translateX(0) translateY(0);
}
.card {
    background-color: #0d1f3d;
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 390px;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -1;
    pointer-events: none;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}

.card p:not(.heading) {
    font-size: 18px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.experience-item{
    background-color: #0d1f3d;
    padding: 15px;
}

/*skill section*/
.skills h2{
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: #0d1f3d;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
}

.skills{
    text-align: center;
    background-color: #ffffff;
    margin: 5% 0 5% 0;
}

.skills-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

.skills-images{
    width: 100%;
    margin: 0 auto; 
}

.circle img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    position: relative;
    width: 170px;
    height: 170px;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap:round;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 3s ease-in-out;
}
.circle-chart{
    max-width: 100px;
    max-height: 100px;
}
.circle-bg{
    fill: none;
    stroke:#0d1f3d;
    stroke-width: 3.8;
    stroke-dasharray: 100 100;
}
.circular-chart .circle{
    stroke:#597294;
}
.animate.c-percent .circle {
    stroke-dasharray: 80 100;
}
.animate.java-percent .circle{
    stroke-dasharray: 75 100;
}
.animate.html-percent .circle{
    stroke-dasharray: 85 100;
}
.animate.css-percent .circle{
    stroke-dasharray: 70 100;
}
.animate.sql-percent .circle{
    stroke-dasharray: 76 100;
}
.animate.unity-percent .circle{
    stroke-dasharray: 50 100;
}
.animate.js-percent .circle{
    stroke-dasharray: 60 100;
}
.animate.c2-percent .circle{
    stroke-dasharray: 60 100;
}
.animate.net-percent .circle{
    stroke-dasharray: 60 100;
}
.animate.jQuery-percent .circle{
    stroke-dasharray: 60 100;
}
.animate.react-percent .circle{
    stroke-dasharray: 20 100;
}
.animate.bootstrap-percent .circle{
    stroke-dasharray: 40 100;
}

/*project section*/
.project-container h2{
    padding: 30px 50px;
}

.projects{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.project-bar{
    margin-bottom: 120px;
}

.button-list{
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content:center ;
}

.button-list li{
    margin: 0;
    padding: 0px;
}

.project-button{
  background-color: rgba(255, 255, 255, 0.1);
  width: 120px;
  margin: 0;
  padding: 12px 0;
  border-radius: 0;
  border: 1px solid #0d1f3d;
  color: white;
  box-shadow: 0 4px 8px #0d1f3d;
  font-size: 24px;
}

.project-button:hover{
    background-color: #0d1f3d;
    transform: scale(1.1);
}

.project-grid{
    display: grid;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 0.2fr);  
    gap: 40px;
    padding: 0 20px 0 20px;
}

.project-item{
    background-color: transparent;
    text-align: center;
    box-shadow: 0 8px 14px #0d1f3d;
}
.project-item p{
    font-size: 28px;
    padding: 24px 0; 
    background-color: transparent;
    color: #ffffff;
    margin: 0;
}

.project-item img{
    width: 100%;
    cursor: pointer;
    transition: filter 0.5s ease;
}

.project-icon{
    filter: grayscale(100);
    border-radius: 0%;
    margin: 0 auto;
}

.project-icon:hover{
    filter: grayscale(0%);
}

.project-item{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.project-item:nth-child(3n + 1) { 
    transform: translateX(-200px);
}

.project-item:nth-child(3n + 2) { 
    transform: translateY(50px);
}

.project-item:nth-child(3n + 3) { 
    transform: translateX(200px);
}

.project-item.show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}



